<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Superheroes Sighting - Main</title>
</head>
<body>

    <p><a href="/">Home</a></p>

    <p>
        <h1>Super Heroes and Villains Sighting Database</h1>
    <p>

    <h2>Menu</h2>
    <ul>
        <li><a href="super/all">Super Character: Link to all.</a></li>
        <li><a href="super/new">Super Character: <b>insert</b> new super heroe or villain.</a></li>
        <li><a href="super/new">Super Character: <b>delete</b> new super heroe or villain.</a></li>

    </ul>

<!-- /.container -->

</body>
</html>
